@{
    ViewBag.Title = "About Digital Retailers Inc";
}
<h2>@ViewBag.Title.</h2>

<p>Be it setting up a workspace at home, attending online lectures, or being a professional gamer; laptops make everything easier. These gadgets offer the advantage of portability, longer battery life, and convenient size. Order the ideal device from us without stepping out and get doorstep delivery. </p>